.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px 80px 50px 100px;
}
.order-summary{
 position: fixed;
 top: 40;
 right: 100px;
}